
<table class="table">

  <tr>
    <th>Base Unit</th>
    <th>Quote Unit</th>
    <th>low</th>
    <th>high</th>
    <th>Buy1</th>
  </tr>

  <tr>
    
    <td>{{cryptoData.btcinr?.base_unit}}</td>
    <td>{{cryptoData.btcinr?.quote_unit}}</td>
    <td>{{cryptoData.btcinr?.low}}</td>
    <td>{{cryptoData.btcinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary" (click)="onSubmitData(cryptoData.btcinr)" > Buy</button> </td>
   
  </tr>

  <tr>
    
    <td>{{cryptoData.xrpinr?.base_unit}}</td>
    <td>{{cryptoData.xrpinr?.quote_unit}}</td>
    <td>{{cryptoData.xrpinr?.low}}</td>
    <td>{{cryptoData.xrpinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.xrpinr)" >Buy </button></td>
  </tr>

  <tr>
    
    <td>{{cryptoData.ethinr?.base_unit}}</td>
    <td>{{cryptoData.ethinr?.quote_unit}}</td>
    <td>{{cryptoData.ethinr?.low}}</td>
    <td>{{cryptoData.ethinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.ethinr)" >Buy</button></td>
  </tr>

  <tr>
    
    <td>{{cryptoData.trxinr?.base_unit}}</td>
    <td>{{cryptoData.trxinr?.quote_unit}}</td>
    <td>{{cryptoData.trxinr?.low}}</td>
    <td>{{cryptoData.trxinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.trxinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.eosinr?.base_unit}}</td>
    <td>{{cryptoData.eosinr?.quote_unit}}</td>
    <td>{{cryptoData.eosinr?.low}}</td>
    <td>{{cryptoData.eosinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.eosinr)" >Buy</button></td>
    
    

  </tr>

  <tr>
    
    <td>{{cryptoData.zilinr?.base_unit}}</td>
    <td>{{cryptoData.zilinr?.quote_unit}}</td>
    <td>{{cryptoData.zilinr?.low}}</td>
    <td>{{cryptoData.zilinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.zilinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.batinr?.base_unit}}</td>
    <td>{{cryptoData.batinr?.quote_unit}}</td>
    <td>{{cryptoData.batinr?.low}}</td>
    <td>{{cryptoData.batinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.batinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.omginr?.base_unit}}</td>
    <td>{{cryptoData.omginr?.quote_unit}}</td>
    <td>{{cryptoData.omginr?.low}}</td>
    <td>{{cryptoData.omginr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.omginr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.polyinr?.base_unit}}</td>
    <td>{{cryptoData.polyinr?.quote_unit}}</td>
    <td>{{cryptoData.polyinr?.low}}</td>
    <td>{{cryptoData.polyinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.polyinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.iostinr?.base_unit}}</td>
    <td>{{cryptoData.iostinr?.quote_unit}}</td>
    <td>{{cryptoData.iostinr?.low}}</td>
    <td>{{cryptoData.iostinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.iostinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.dentinr?.base_unit}}</td>
    <td>{{cryptoData.dentinr?.quote_unit}}</td>
    <td>{{cryptoData.dentinr?.low}}</td>
    <td>{{cryptoData.dentinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.dentinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.hotinr?.base_unit}}</td>
    <td>{{cryptoData.hotinr?.quote_unit}}</td>
    <td>{{cryptoData.hotinr?.low}}</td>
    <td>{{cryptoData.hotinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.hotinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.usdtinr?.base_unit}}</td>
    <td>{{cryptoData.usdtinr?.quote_unit}}</td>
    <td>{{cryptoData.usdtinr?.low}}</td>
    <td>{{cryptoData.usdtinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.usdtinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.wrxinr?.base_unit}}</td>
    <td>{{cryptoData.wrxinr?.quote_unit}}</td>
    <td>{{cryptoData.wrxinr?.low}}</td>
    <td>{{cryptoData.wrxinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.wrxinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.maticinr?.base_unit}}</td>
    <td>{{cryptoData.maticinr?.quote_unit}}</td>
    <td>{{cryptoData.maticinr?.low}}</td>
    <td>{{cryptoData.maticinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.maticinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.bchinr?.base_unit}}</td>
    <td>{{cryptoData.bchinr?.quote_unit}}</td>
    <td>{{cryptoData.bchinr?.low}}</td>
    <td>{{cryptoData.bchinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.bchinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.bnbinr?.base_unit}}</td>
    <td>{{cryptoData.bnbinr?.quote_unit}}</td>
    <td>{{cryptoData.bnbinr?.low}}</td>
    <td>{{cryptoData.bnbinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.bnbinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.bttinr?.base_unit}}</td>
    <td>{{cryptoData.bttinr?.quote_unit}}</td>
    <td>{{cryptoData.bttinr?.low}}</td>
    <td>{{cryptoData.bttinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.bttinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.chzinr?.base_unit}}</td>
    <td>{{cryptoData.chzinr?.quote_unit}}</td>
    <td>{{cryptoData.chzinr?.low}}</td>
    <td>{{cryptoData.chzinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.chzinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.oneinr?.base_unit}}</td>
    <td>{{cryptoData.oneinr?.quote_unit}}</td>
    <td>{{cryptoData.oneinr?.low}}</td>
    <td>{{cryptoData.oneinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.oneinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.yfiinr?.base_unit}}</td>
    <td>{{cryptoData.yfiinr?.quote_unit}}</td>
    <td>{{cryptoData.yfiinr?.low}}</td>
    <td>{{cryptoData.yfiinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.yfiinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.uniinr?.base_unit}}</td>
    <td>{{cryptoData.uniinr?.quote_unit}}</td>
    <td>{{cryptoData.uniinr?.low}}</td>
    <td>{{cryptoData.uniinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.uniinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.linkinr?.base_unit}}</td>
    <td>{{cryptoData.linkinr?.quote_unit}}</td>
    <td>{{cryptoData.linkinr?.low}}</td>
    <td>{{cryptoData.linkinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.linkinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.sxpinr?.base_unit}}</td>
    <td>{{cryptoData.sxpinr?.quote_unit}}</td>
    <td>{{cryptoData.sxpinr?.low}}</td>
    <td>{{cryptoData.sxpinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.sxpinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.adainr?.base_unit}}</td>
    <td>{{cryptoData.adainr?.quote_unit}}</td>
    <td>{{cryptoData.adainr?.low}}</td>
    <td>{{cryptoData.adainr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.adainr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.nanoinr?.base_unit}}</td>
    <td>{{cryptoData.nanoinr?.quote_unit}}</td>
    <td>{{cryptoData.nanoinr?.low}}</td>
    <td>{{cryptoData.nanoinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.nanoinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.atominr?.base_unit}}</td>
    <td>{{cryptoData.atominr?.quote_unit}}</td>
    <td>{{cryptoData.atominr?.low}}</td>
    <td>{{cryptoData.atominr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.atominr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.xlminr?.base_unit}}</td>
    <td>{{cryptoData.xlminr?.quote_unit}}</td>
    <td>{{cryptoData.xlminr?.low}}</td>
    <td>{{cryptoData.xlminr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.xlminr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.fetinr?.base_unit}}</td>
    <td>{{cryptoData.fetinr?.quote_unit}}</td>
    <td>{{cryptoData.fetinr?.low}}</td>
    <td>{{cryptoData.fetinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.fetinrng)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.xeminr?.base_unit}}</td>
    <td>{{cryptoData.xeminr?.quote_unit}}</td>
    <td>{{cryptoData.xeminr?.low}}</td>
    <td>{{cryptoData.xeminr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.xeminr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.zecinr?.base_unit}}</td>
    <td>{{cryptoData.zecinr?.quote_unit}}</td>
    <td>{{cryptoData.zecinr?.low}}</td>
    <td>{{cryptoData.zecinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.zecinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.busdinr?.base_unit}}</td>
    <td>{{cryptoData.busdinr?.quote_unit}}</td>
    <td>{{cryptoData.busdinr?.low}}</td>
    <td>{{cryptoData.busdinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.busdinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.yfiiinr?.base_unit}}</td>
    <td>{{cryptoData.yfiiinr?.quote_unit}}</td>
    <td>{{cryptoData.yfiiinr?.low}}</td>
    <td>{{cryptoData.yfiiinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.yfiiinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.dogeinr?.base_unit}}</td>
    <td>{{cryptoData.dogeinr?.quote_unit}}</td>
    <td>{{cryptoData.dogeinr?.low}}</td>
    <td>{{cryptoData.dogeinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.dogeinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.dotinr?.base_unit}}</td>
    <td>{{cryptoData.dotinr?.quote_unit}}</td>
    <td>{{cryptoData.dotinr?.low}}</td>
    <td>{{cryptoData.dotinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.dotinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.vetinr?.base_unit}}</td>
    <td>{{cryptoData.vetinr?.quote_unit}}</td>
    <td>{{cryptoData.vetinr?.low}}</td>
    <td>{{cryptoData.vetinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.vetinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.crvinr?.base_unit}}</td>
    <td>{{cryptoData.crvinr?.quote_unit}}</td>
    <td>{{cryptoData.crvinr?.low}}</td>
    <td>{{cryptoData.crvinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.crvinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.reninr?.base_unit}}</td>
    <td>{{cryptoData.reninr?.quote_unit}}</td>
    <td>{{cryptoData.reninr?.low}}</td>
    <td>{{cryptoData.reninr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.reninr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.enjinr?.base_unit}}</td>
    <td>{{cryptoData.enjinr?.quote_unit}}</td>
    <td>{{cryptoData.enjinr?.low}}</td>
    <td>{{cryptoData.enjinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.enjinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.manainr?.base_unit}}</td>
    <td>{{cryptoData.manainr?.quote_unit}}</td>
    <td>{{cryptoData.manainr?.low}}</td>
    <td>{{cryptoData.manainr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.manainr)" >Buy</button></td>
    

  </tr>


  <tr>
    
    <td>{{cryptoData.hbarinr?.base_unit}}</td>
    <td>{{cryptoData.hbarinr?.quote_unit}}</td>
    <td>{{cryptoData.hbarinr?.low}}</td>
    <td>{{cryptoData.hbarinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.hbarinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.umainr?.base_unit}}</td>
    <td>{{cryptoData.umainr?.quote_unit}}</td>
    <td>{{cryptoData.umainr?.low}}</td>
    <td>{{cryptoData.umainr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.umainr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.chrinr?.base_unit}}</td>
    <td>{{cryptoData.chrinr?.quote_unit}}</td>
    <td>{{cryptoData.chrinr?.low}}</td>
    <td>{{cryptoData.chrinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.chrinr)" >Buy</button></td>
    

  </tr>


  <tr>
    
    <td>{{cryptoData.paxginr?.base_unit}}</td>
    <td>{{cryptoData.paxginr?.quote_unit}}</td>
    <td>{{cryptoData.paxginr?.low}}</td>
    <td>{{cryptoData.paxginr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.paxginr)" >Buy</button></td>
    

  </tr>


  <tr>
    
    <td>{{cryptoData.etcinr?.base_unit}}</td>
    <td>{{cryptoData.etcinr?.quote_unit}}</td>
    <td>{{cryptoData.etcinr?.low}}</td>
    <td>{{cryptoData.etcinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.etcinr)" >Buy</button></td>
    

  </tr>


  <tr>
    
    <td>{{cryptoData.uftinr?.base_unit}}</td>
    <td>{{cryptoData.uftinr?.quote_unit}}</td>
    <td>{{cryptoData.uftinr?.low}}</td>
    <td>{{cryptoData.uftinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.uftinr)" >Buy</button></td>
    

  </tr>


  <tr>
    
    <td>{{cryptoData.dockinr?.base_unit}}</td>
    <td>{{cryptoData.dockinr?.quote_unit}}</td>
    <td>{{cryptoData.dockinr?.low}}</td>
    <td>{{cryptoData.dockinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.dockinr)" >Buy</button></td>
    

  </tr>


  <tr>
    
    <td>{{cryptoData.filinr?.base_unit}}</td>
    <td>{{cryptoData.filinr?.quote_unit}}</td>
    <td>{{cryptoData.filinr?.low}}</td>
    <td>{{cryptoData.filinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.filinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.wininr?.base_unit}}</td>
    <td>{{cryptoData.wininr?.quote_unit}}</td>
    <td>{{cryptoData.wininr?.low}}</td>
    <td>{{cryptoData.wininr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.wininr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.tkoinr?.base_unit}}</td>
    <td>{{cryptoData.tkoinr?.quote_unit}}</td>
    <td>{{cryptoData.tkoinr?.low}}</td>
    <td>{{cryptoData.tkoinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.tkoinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.pushinr?.base_unit}}</td>
    <td>{{cryptoData.pushinr?.quote_unit}}</td>
    <td>{{cryptoData.pushinr?.low}}</td>
    <td>{{cryptoData.pushinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.pushinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.avaxinr?.base_unit}}</td>
    <td>{{cryptoData.avaxinr?.quote_unit}}</td>
    <td>{{cryptoData.avaxinr?.low}}</td>
    <td>{{cryptoData.avaxinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.avaxinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.lunainr?.base_unit}}</td>
    <td>{{cryptoData.lunainr?.quote_unit}}</td>
    <td>{{cryptoData.lunainr?.low}}</td>
    <td>{{cryptoData.lunainr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.lunainr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.xvginr?.base_unit}}</td>
    <td>{{cryptoData.xvginr?.quote_unit}}</td>
    <td>{{cryptoData.xvginr?.low}}</td>
    <td>{{cryptoData.xvginr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.xvginr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.scinr?.base_unit}}</td>
    <td>{{cryptoData.scinr?.quote_unit}}</td>
    <td>{{cryptoData.scinr?.low}}</td>
    <td>{{cryptoData.scinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.scinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.fttinr?.base_unit}}</td>
    <td>{{cryptoData.fttinr?.quote_unit}}</td>
    <td>{{cryptoData.fttinr?.low}}</td>
    <td>{{cryptoData.fttinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.fttinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.dgbinr?.base_unit}}</td>
    <td>{{cryptoData.dgbinr?.quote_unit}}</td>
    <td>{{cryptoData.dgbinr?.low}}</td>
    <td>{{cryptoData.dgbinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.dgbinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.cvcinr?.base_unit}}</td>
    <td>{{cryptoData.cvcinr?.quote_unit}}</td>
    <td>{{cryptoData.cvcinr?.low}}</td>
    <td>{{cryptoData.cvcinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.cvcinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.cakeinr?.base_unit}}</td>
    <td>{{cryptoData.cakeinr?.quote_unit}}</td>
    <td>{{cryptoData.cakeinr?.low}}</td>
    <td>{{cryptoData.cakeinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.cakeinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.ezinr?.base_unit}}</td>
    <td>{{cryptoData.ezinr?.quote_unit}}</td>
    <td>{{cryptoData.ezinr?.low}}</td>
    <td>{{cryptoData.ezinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.ezinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.bzrxinr?.base_unit}}</td>
    <td>{{cryptoData.bzrxinr?.quote_unit}}</td>
    <td>{{cryptoData.bzrxinr?.low}}</td>
    <td>{{cryptoData.bzrxinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.bzrxinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.ftminr?.base_unit}}</td>
    <td>{{cryptoData.ftminr?.quote_unit}}</td>
    <td>{{cryptoData.ftminr?.low}}</td>
    <td>{{cryptoData.ftminr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.ftminr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.hntinr?.base_unit}}</td>
    <td>{{cryptoData.hntinr?.quote_unit}}</td>
    <td>{{cryptoData.hntinr?.low}}</td>
    <td>{{cryptoData.hntinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.hntinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.arkinr?.base_unit}}</td>
    <td>{{cryptoData.arkinr?.quote_unit}}</td>
    <td>{{cryptoData.arkinr?.low}}</td>
    <td>{{cryptoData.arkinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.arkinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.ctsiinr?.base_unit}}</td>
    <td>{{cryptoData.ctsiinr?.quote_unit}}</td>
    <td>{{cryptoData.ctsiinr?.low}}</td>
    <td>{{cryptoData.ctsiinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.ctsiinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.kmdinr?.base_unit}}</td>
    <td>{{cryptoData.kmdinr	?.quote_unit}}</td>
    <td>{{cryptoData.kmdinr	?.low}}</td>
    <td>{{cryptoData.kmdinr	?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.kmdinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.solinr	?.base_unit}}</td>
    <td>{{cryptoData.solinr?.quote_unit}}</td>
    <td>{{cryptoData.solinr?.low}}</td>
    <td>{{cryptoData.solinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.solinr)" >Buy</button></td>
    

  </tr>

  <tr>
    
    <td>{{cryptoData.cotiinr?.base_unit}}</td>
    <td>{{cryptoData.cotiinr?.quote_unit}}</td>
    <td>{{cryptoData.cotiinr?.low}}</td>
    <td>{{cryptoData.cotiinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.cotiinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.iotxinr?.base_unit}}</td>
    <td>{{cryptoData.iotxinr?.quote_unit}}</td>
    <td>{{cryptoData.iotxinr?.low}}</td>
    <td>{{cryptoData.iotxinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.iotxinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.shibinr?.base_unit}}</td>
    <td>{{cryptoData.shibinr?.quote_unit}}</td>
    <td>{{cryptoData.shibinr?.low}}</td>
    <td>{{cryptoData.shibinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.shibinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.rlcinr?.base_unit}}</td>
    <td>{{cryptoData.rlcinr?.quote_unit}}</td>
    <td>{{cryptoData.rlcinr?.low}}</td>
    <td>{{cryptoData.rlcinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.rlcinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.trbinr?.base_unit}}</td>
    <td>{{cryptoData.trbinr?.quote_unit}}</td>
    <td>{{cryptoData.trbinr?.low}}</td>
    <td>{{cryptoData.trbinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.trbinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.reefinr?.base_unit}}</td>
    <td>{{cryptoData.reefinr?.quote_unit}}</td>
    <td>{{cryptoData.reefinr?.low}}</td>
    <td>{{cryptoData.reefinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.reefinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.icpinr?.base_unit}}</td>
    <td>{{cryptoData.icpinr?.quote_unit}}</td>
    <td>{{cryptoData.icpinr?.low}}</td>
    <td>{{cryptoData.icpinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.icpinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.ontinr?.base_unit}}</td>
    <td>{{cryptoData.ontinr?.quote_unit}}</td>
    <td>{{cryptoData.ontinr?.low}}</td>
    <td>{{cryptoData.ontinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.ontinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.ckbinr?.base_unit}}</td>
    <td>{{cryptoData.ckbinr?.quote_unit}}</td>
    <td>{{cryptoData.ckbinr?.low}}</td>
    <td>{{cryptoData.ckbinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.ckbinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.pntinr?.base_unit}}</td>
    <td>{{cryptoData.pntinr?.quote_unit}}</td>
    <td>{{cryptoData.pntinr?.low}}</td>
    <td>{{cryptoData.pntinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.pntinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.xvsinr?.base_unit}}</td>
    <td>{{cryptoData.xvsinr?.quote_unit}}</td>
    <td>{{cryptoData.xvsinr?.low}}</td>
    <td>{{cryptoData.xvsinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.xvsinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.viteinr?.base_unit}}</td>
    <td>{{cryptoData.viteinr?.quote_unit}}</td>
    <td>{{cryptoData.viteinr?.low}}</td>
    <td>{{cryptoData.viteinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.viteinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.dcrinr?.base_unit}}</td>
    <td>{{cryptoData.dcrinr?.quote_unit}}</td>
    <td>{{cryptoData.dcrinr?.low}}</td>
    <td>{{cryptoData.dcrinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.dcrinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.mdxinr?.base_unit}}</td>
    <td>{{cryptoData.mdxinr?.quote_unit}}</td>
    <td>{{cryptoData.mdxinr?.low}}</td>
    <td>{{cryptoData.mdxinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.mdxinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.phainr?.base_unit}}</td>
    <td>{{cryptoData.phainr?.quote_unit}}</td>
    <td>{{cryptoData.phainr?.low}}</td>
    <td>{{cryptoData.phainr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.phainr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.runeinr?.base_unit}}</td>
    <td>{{cryptoData.runeinr?.quote_unit}}</td>
    <td>{{cryptoData.runeinr?.low}}</td>
    <td>{{cryptoData.runeinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.runeinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.ogninr?.base_unit}}</td>
    <td>{{cryptoData.ogninr?.quote_unit}}</td>
    <td>{{cryptoData.ogninr?.low}}</td>
    <td>{{cryptoData.ogninr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.ogninr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.mirinr?.base_unit}}</td>
    <td>{{cryptoData.mirinr?.quote_unit}}</td>
    <td>{{cryptoData.mirinr?.low}}</td>
    <td>{{cryptoData.mirinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.mirinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.datainr?.base_unit}}</td>
    <td>{{cryptoData.datainr?.quote_unit}}</td>
    <td>{{cryptoData.datainr?.low}}</td>
    <td>{{cryptoData.datainr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.datainr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.ksminr?.base_unit}}</td>
    <td>{{cryptoData.ksminr?.quote_unit}}</td>
    <td>{{cryptoData.ksminr?.low}}</td>
    <td>{{cryptoData.ksminr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.ksminr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.nkninr?.base_unit}}</td>
    <td>{{cryptoData.nkninr?.quote_unit}}</td>
    <td>{{cryptoData.nkninr?.low}}</td>
    <td>{{cryptoData.nkninr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.nkninr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.balinr?.base_unit}}</td>
    <td>{{cryptoData.balinr?.quote_unit}}</td>
    <td>{{cryptoData.balinr?.low}}</td>
    <td>{{cryptoData.balinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.balinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.dntinr?.base_unit}}</td>
    <td>{{cryptoData.dntinr?.quote_unit}}</td>
    <td>{{cryptoData.dntinr?.low}}</td>
    <td>{{cryptoData.dntinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.dntinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.keepinr?.base_unit}}</td>
    <td>{{cryptoData.keepinr?.quote_unit}}</td>
    <td>{{cryptoData.keepinr?.low}}</td>
    <td>{{cryptoData.keepinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.keepinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.ltcinr?.base_unit}}</td>
    <td>{{cryptoData.ltcinr?.quote_unit}}</td>
    <td>{{cryptoData.ltcinr?.low}}</td>
    <td>{{cryptoData.ltcinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.ltcinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.dashinr?.base_unit}}</td>
    <td>{{cryptoData.dashinr?.quote_unit}}</td>
    <td>{{cryptoData.dashinr?.low}}</td>
    <td>{{cryptoData.dashinr?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.dashinr)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.xrpbtc?.base_unit}}</td>
    <td>{{cryptoData.xrpbtc?.quote_unit}}</td>
    <td>{{cryptoData.xrpbtc?.low}}</td>
    <td>{{cryptoData.xrpbtc?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.xrpbtc)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.trxbtc?.base_unit}}</td>
    <td>{{cryptoData.trxbtc?.quote_unit}}</td>
    <td>{{cryptoData.trxbtc?.low}}</td>
    <td>{{cryptoData.trxbtc?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.trxbtc)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.ethbtc?.base_unit}}</td>
    <td>{{cryptoData.ethbtc?.quote_unit}}</td>
    <td>{{cryptoData.ethbtc?.low}}</td>
    <td>{{cryptoData.ethbtc?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.ethbtc)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.zilbtc?.base_unit}}</td>
    <td>{{cryptoData.zilbtc?.quote_unit}}</td>
    <td>{{cryptoData.zilbtc?.low}}</td>
    <td>{{cryptoData.zilbtc?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.zilbtc)" >Buy</button></td>


  </tr>

  <tr>
    
    <td>{{cryptoData.batbtc?.base_unit}}</td>
    <td>{{cryptoData.batbtc?.quote_unit}}</td>
    <td>{{cryptoData.batbtc?.low}}</td>
    <td>{{cryptoData.batbtc?.high}}</td>
    <td>  <button type="button" class="btn btn-secondary"  (click)="onSubmitData(cryptoData.batbtc)" >Buy</button></td>


  </tr>

  

</table>
